<html class="no-js" lang="en">

<head>
    <title>Landlord | Login</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/breadcrumbs.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg flex-md-nowrap navbar-dark bg-custom-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h2 class="m-0">Mrs.P</h2>
            </a>

        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <form class="rounded my-4" action="/" method="post">
                <p class="mt-1 my-0 text-secondary text-center"> <?=message?>  </p>

                <h3 class="m-0 text-center">
                    Sign In
                </h3>

                <p class="mt-1 my-0 text-secondary text-center">Enter your username and password</p>
                <hr class="w-25 my-2">
                <div class="form-content">

                    <div class="form-row justify-content-between">
                        <div class="form-group col-md">
                            <small>Email Address(Username)</small>
                            <input type="text" class="form-control form-control-md rounded-0" name="username"
                                placeholder="" />
                        </div>
                    </div>
                    <div class="form-row justify-content-between">
                        <div class="form-group col-md">
                            <small>Password</small>
                            <input type="password" class="form-control form-control-md rounded-0" name="password"
                                placeholder="" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block rounded-0 my-2 shadow border-0">
                    <small>
                        SIGN IN
                        <i class="fas fa-sign-out-alt"></i>
                    </small>
                </button>
            </form>

        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
